<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="appWin_Copias.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <appWin_Copias.Properties.Settings>
            <setting name="rutaOrigen" serializeAs="String">
                <value>D:\SUMMIT\WESTIN\03.construccion\ArchivosPDB\Origen</value>
            </setting>
            <setting name="rutaDestino" serializeAs="String">
                <value>D:\SUMMIT\WESTIN\03.construccion\ArchivosPDB\Destino\Huespedes</value>
            </setting>
        </appWin_Copias.Properties.Settings>
    </applicationSettings>
</configuration>